---
---
<footer class="min-h-[60vh] bg-(--text-color) text-(--bg-color) p-4 md:p-8 flex flex-col justify-center items-center relative overflow-hidden z-10 transition-colors duration-300">
  <div class="absolute inset-0 opacity-5 grid place-items-center pointer-events-none">
    <i class="ph-fill ph-asterisk text-[100vw] rotate-45"></i>
  </div>

  <div class="z-10 w-full text-center">
    <h2 class="brutal-title huge-text text-(--bg-color) hover:text-(--accent-color) transition-colors cursor-pointer select-none">
      DEPLOY
    </h2>
  </div>
</footer>