---
---
<header class="brutal-header">
  <div class="flex items-center gap-4">
    <i class="ph-bold ph-hexagon text-xl"></i>
    <span>FBS: Fast Blob Storage</span>
  </div>
  <div class="flex items-center gap-8">
    <a href="https://github.com/i-got-this-faa/fbs-core" class="hidden md:block hover:text-(--accent-color) transition-colors">[GitHub]</a>
    <button id="theme-toggle" aria-label="Toggle Dark Mode">
      <i class="ph-fill ph-moon"></i>
      <span>INVERT</span>
    </button>
  </div>
</header>