---
---
<header class="brutal-header">
  <div class="flex items-center gap-4">
    <i class="ph-bold ph-hexagon text-xl text-(--accent-color)"></i>
    <span class="tracking-tight">FBS</span>
  </div>
  <nav class="flex items-center gap-8">
    <a href="https://github.com/i-got-this-faa/fbs-core" class="hidden md:flex items-center gap-2 hover:text-(--accent-color) transition-colors">
      <i class="ph-fill ph-github-logo"></i>
      <span>GitHub</span>
    </a>
  </nav>
</header>