---
const isDocsPage = Astro.url.pathname.startsWith('/docs');
---
<header class="brutal-header">
  <a href="/" class="flex items-center gap-4 hover:text-(--accent-color) transition-colors">
    <img src="/favicon.svg" alt="" class="size-6" />
    <span class="tracking-tight">FBS</span>
  </a>
  <nav class="flex items-center gap-6 md:gap-8">
    {
      isDocsPage ? (
        <a href="/" class="hidden md:flex hover:text-(--accent-color) transition-colors">
          <span>[ Back ]</span>
        </a>
      ) : (
        <a href="/docs/" class="hidden md:flex hover:text-(--accent-color) transition-colors">
          <span>[ Docs ]</span>
        </a>
      )
    }
    <a href="https://github.com/i-got-this-faa/fbs-core" class="hidden md:flex hover:text-(--accent-color) transition-colors">
      <span>[ github ]</span>
    </a>
    <a href="https://fastblobstorage.vercel.app/setup" class="hidden md:flex hover:text-(--accent-color) transition-colors">
      <span>[ Dashboard ]</span>
    </a>
  </nav>
</header>
