---
---
<main class="min-h-screen relative p-4 md:p-8 flex flex-col justify-end z-10 pt-32">
  <div class="my-auto b-grid">
    <div class="col-span-12 md:col-span-10 md:col-start-2">
      <h1 class="brutal-title huge-text text-[var(--text-color)]">
        FAST<br/>BLOB<br/>STOR<span class="anim-a inline-block">A</span><span class="anim-g inline-block">G</span><span class="anim-e inline-block">E</span>
      </h1>
    </div>
  </div>

  <div class="b-grid items-end pb-8">
    <div class="col-span-12 md:col-span-4 border-l-4 border-theme pl-4">
      <p class="text-xl md:text-2xl uppercase font-bold leading-tight">
        S3-Compatible. Built for the homelab.
      </p>
      <p class="mt-4 text-sm max-w-sm opacity-80">
        Drop-in S3 compatibility without the enterprise bloat. A blazing fast, ultra-lightweight, single-node storage engine.
      </p>
    </div>
    <div class="col-span-12 md:col-span-4 md:col-start-9 text-right mt-12 md:mt-0">
      <i class="ph-fill ph-hard-drives text-[8rem] text-[var(--text-color)] opacity-20"></i>
    </div>
  </div>
</main>