---
---
<div class="marquee">
  <span>NO GOSSIP PROTOCOLS &nbsp;&bull;&nbsp; NO 4-DRIVE MINIMUMS &nbsp;&bull;&nbsp; NO 500MB IDLE RAM &nbsp;&bull;&nbsp; PURE PERFORMANCE &nbsp;&bull;&nbsp; NO GOSSIP PROTOCOLS &nbsp;&bull;&nbsp; NO 4-DRIVE MINIMUMS &nbsp;&bull;&nbsp; NO 500MB IDLE RAM &nbsp;&bull;&nbsp; PURE PERFORMANCE &nbsp;&bull;&nbsp;</span>
</div>