---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'FBS is a self-hosted, lightweight S3-compatible object storage engine built in Go. Designed for homelabs and single-node deployments.'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="description" content={description} />
  <script src="https://unpkg.com/@phosphor-icons/web" is:inline></script>
</head>
<body class="antialiased relative">
  <div class="overflow-x-clip relative w-full min-h-screen">
    <div id="cursor-blob"></div>
    <slot />
  </div>
  <script src="../scripts/main.ts"></script>
</body>
</html>
